* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background-color: rgb(171, 238, 165);
 
}
.wrapper{
     text-align: center;
}
li {
  list-style: none;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  background-color: #a7e0a2;
  border: none;
  border-bottom: 1px solid #000;
  margin-left: 50px;
}
#search-box:focus-visible {
  outline: none;
}

.country-list{
     display: flex;
    flex-direction: column;
    align-items: center;
}

.country-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: auto;
  margin-bottom: 10px;
  background-color: #52af9380;
  width: 415px;
  border-radius: 5px;
  border-bottom: 1px solid #507445;
  padding: 8px;
}
.country-item__name {
  padding-left: 8px;
}
.country-info {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.country-info__name-thumb {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  width: 25%;
}

.country-info__img {
  display: block;
  width: 100%;
  height: auto;
}
.country-info__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-end;
  align-items: flex-start;
}
.country-info__name {
  margin-bottom: 10px;
  font-size: x-large;
}

.country-info__text {
  font-style: italic;
  margin-bottom: 0;
}

.country-info__text-description {
  font-weight: 700;
  font-size: larger;
}

.country-info__item {
  border-bottom: 1px solid rgb(109, 100, 100);
}
